<!-- not found container -->
<div class="p-grid container p-align-center">
  <div class="p-col-fixed p-col-align-center" style="max-width: 560px;margin: 0 auto;">
    <!-- not found div -->
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404"></div>
        <h1>404</h1>
        <h2 i18n="not found header|Page not found for this sample">{{ 'not-found.notfound-header' | translate }}</h2>
        <p i18n>{{ 'not-found.notfound-message' | translate }}</p>
        <a i18n routerLink="/home">{{ 'not-found.notfound-back' | translate }}</a>
      </div>
    </div>
  </div>
</div>

