<div class="p-grid header">
  <!-- header container -->
  <div class="p-col-10 p-grid header-container">
    <!-- header menu container -->
    <div class="p-col-5 p-grid">
      <div class="p-col-12">
        <ul class="menu-list">
          <li><a routerLink="/deals">{{ menu.deals | translate }}</a></li>
          <li><a routerLink="/discount">{{ menu.discount | translate }}</a></li>
          <li><a routerLink="/about">{{ menu.about | translate }}</a></li>
        </ul>
      </div>
    </div>

    <!-- header site name -->
    <div class="p-col-2 p-grid p-justify-center">
      <div class="app-name"><i style="color:#9B59B6;font-style: normal;">e-c</i>oparty</div>
    </div>

    <!-- header shop part -->
    <div class="p-col-5 p-grid p-justify-end">
      <div class="login-container">
        <a routerLink="/login">{{ menu.login | translate }}</a>
      </div>   
      <i class="delim"></i>
      <div class="shop-icon" (click)="shoppingPage()">
        <span class="item-count disable-select" *ngIf="article_count > 0">{{ article_count }}</span>
      </div>
      <div class="lang">
        <p-dropdown [options]="langs"
                    [(ngModel)]="currentTrad"
                    (ngModelChange)="updateTraduction();">
          <ng-template let-item pTemplate="selectedItem">
            <span [ngClass]="['flag-size', item.styleClass]"></span>
          </ng-template>
          <ng-template let-lang pTemplate="item">
            <span [ngClass]="['flag-size', lang.styleClass]"></span>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </div>
</div>
