/** app colors themes */

$red: #E74C3C ;
$red-light: #F5B7B1 ;

$grey: #BDC3C7 ;
$grey-light: #E5E7E9 ;

$green: #2ECC71 ;
$green-light: #ABEBC6 ;

$blue: #3498DB ;
$blue-light: #AED6F1 ;

$yellow: #F1C40F ;
$yellow-light: #F9E79F ;

$orange: #F39C12 ;
$orange-light: #FAD7A0 ;

$purple: #9B59B6 ;
$purple-light: #D7BDE2 ;

$black: #34495E ;
$black-light: #AEB6BF;

$white: #fff;
$hard-black: #000;
