// global scss
@import 'colors.scss';
@import 'fonts.scss';

/** app variables */

$app-background-color: $white;

/** grid variables */

$grid-min-height: 100vh;

/** html region */
body {
    font-family: 'Nunito', sans-serif;
}

/** container region */
.container {
    min-height: $grid-min-height;
    font-family: 'Nunito', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}